# Advanced SQL I and II Review Session Questions

#### By: Boom (DSI-NYC), Mahdi S. (DSI-NYC)

### Step #1 - create the `employees` table
Within this repo is a `employees.txt` file, which contains the SQL code to create the `employees` table and populate it with data

### Step #2 - Answer the following questions

### 1) Write a query that returns two columns: (i) the e-mail addresses but only for those that end in '.edu' and (ii) an indication of whether or not the employee works in the Games, Phones & Tablets, Toys department.

```sql
-- code here
```

### 2) Write a query that shows the first name (in all lower case), the last name (in all upper case), and email for all people who work in region_id = 1. However, if an e-mail is missing, replace it with the string 'Not available'.

```sql
-- code here
```

### 3) Write a query that combines first name and last name of each female employee into a single column, and categorizes them into 'High Tier' salary (>100,000), 'Middle Tier' salary (b/w 70,000 - 100,000), 'Low Tier' salary (<70,000).

```sql
-- code here
```

### 4) Write a query that finds all employees who work in the United States and Canada who were hired in the year 2013.

```sql
-- code here
```

### 5) Write a query that returns the most common first name(s) in the company. You need to account for ties, so you should not be using ORDER BY and LIMIT 1 here.

```sql
-- code here
```

### 6) Write a SQL query that returns the first name and email of all employees who have the SECOND HIGHEST salary in the company.

```sql
-- code here
```

### 7) Write a query that gives the mean salary of all employees that were hired in March of any given year.

```sql
-- code here
```